@tailwind base;
@tailwind components;
#toggle:checked ~ label div.toggle-dot {
    @apply translate-x-4;
}
.btn-danger {
    @apply capitalize bg-red-500 text-white hover:bg-transparent hover:text-red-500 transition duration-500 focus:outline-none ease-in-out border border-red-500 hover:border-red-500 rounded font-medium px-8 py-3;
}
.body {
    @apply dark:bg-gray-900;
}
@tailwind utilities;
/* top navbar start */
.top-nav {
    @apply border-b border-gray-200 py-3 dark:bg-gray-900 dark:border-gray-600;
}
.top-nav-wrapper {
    @apply xl:flex xl:justify-between xl:items-center lg:flex lg:justify-between lg:items-center md:flex md:justify-between md:items-center;
}
.dropdown {
    @apply pr-1 font-semibold flex-1 text-gray-500 uppercase text-sm dark:text-gray-200;
}
.dropdown-arrow {
    @apply h-4 w-4 transform group-hover:-rotate-180 transition text-gray-500 duration-150 ease-in-out dark:text-gray-100;
}
.dropdown-list {
    @apply bg-white border rounded-sm bg-white z-20 transform scale-0 group-hover:scale-100 absolute transition duration-150 ease-in-out origin-top min-w-32;
}
.dropdown-item {
    @apply text-xs text-gray-800 uppercase;
}
.main-menu-item {
    @apply px-4 py-2 mt-2 text-sm font-semibold text-gray-900 xl:mt-0 lg:mt-0 mt-2 xl:mr-4 lg:mr-4 uppercase xl:border-transparent lg:border-transparent border border-gray-200 transition duration-300 ease-in-out;
}
.page-item {
    @apply capitalize text-gray-800 text-sm font-medium hover:text-red-600 transition duration-300 ease-in-out dark:text-gray-700;
}
.prebtn-header {
    @apply absolute left-10 top-0 flex items-center h-full xl:visible lg:visible md:visible invisible;
}
.prebtn {
    @apply bg-gray-50 h-12 w-12 hover:bg-red-600 group transition duration-300 ease-in-out focus:outline-none shadow-lg;
}
.slide-arrow{
    @apply flex justify-center items-center text-gray-500 group-hover:text-gray-200 transition duration-300 ease-in-out;
}
/* top navbar end */

/* slider start */

.slider-blog {
    @apply bg-cover bg-center h-auto text-white px-10 object-fill h-4/6 relative;
}

/* slider end */

/* cart */
.cart_main_header{
    @apply sm:grid sm:grid-cols-2 md:grid md:grid-cols-2 lg:grid lg:grid-cols-4 xl:grid xl:grid-cols-4 gap-6;
}
.cart_body{
    @apply shadow hover:shadow-lg transition duration-300 ease-in-out xl:mb-0 lg:mb-0 md:mb-0 mb-6 cursor-pointer;
}
.cart_desc{
    @apply overflow-hidden relative;
}
.cart_img{
    @apply w-full transition duration-700 ease-in-out;
}
.cart_dis_title{
    @apply bg-green-500 text-white font-medium px-3 absolute top-2 left-2 text-white text-sm;
}
.icon_desc{
    @apply absolute bottom-4 transition duration-500 ease-in-out;
}
.icon_header{
    @apply bg-gray-700 px-3 py-3 hover:bg-red-500 transition duration-300 ease-in-out;
}
.link_icon{
    @apply transition duration-300 ease-in-out flex justify-center items-center text-gray-100;
}
.cart_header{
    @apply text-gray-800 font-semibold text-lg hover:text-red-500 transition duration-300 ease-in-out;
}
.cart_pord_off_dis{
    @apply mr-2 text-xs text-gray-600;
}
.cart_prod_price{
   @apply line-through  text-red-600 mr-2 text-xs;
}



.footer_list_item{
    @apply transform translate-x-0 hover:translate-x-2 transition duration-500 ease-in-out transition duration-300 ease-in-out;
}
.footer_item{
    @apply capitalize text-gray-200 text-sm hover:text-red-500 font-semibold;
}

.font-rubik{
    font-family: 'Rubik', sans-serif;
}
.font-inter{
    font-family: 'Inter', sans-serif;
}



/* dropdown */

.dropdown:hover .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
}
.dropdown:hover > .dropdown-content {
    display: block;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#080808;
    text-indent:-9999px;
    display:none;
    }
    #scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
    }
    #scroll:hover {
    background-color:#e72f1a;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
    }
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}



/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(223, 217, 217);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active_dot,
.dot:hover {
    background-color: #f00f0f;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}
/* navbar and dropdown */
.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.active,
.active_btn:hover {
    color: rgb(236, 17, 17);
}
li > ul {
    transform: translatex(100%) scale(0);
}
li:hover > ul {
    transform: translatex(101%) scale(1);
}
li > button svg {
    transform: rotate(-90deg);
}
li:hover > button svg {
    transform: rotate(-270deg);
}
.group:hover .group-hover\:scale-100 {
    transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
    transform: rotate(180deg);
}
.scale-0 {
    transform: scale(0);
}
.min-w-32 {
    min-width: 8rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
#content {
    background-color: white;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.734);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: rgb(240, 237, 232);
    transition: 0.3s ease-in-out;
}
.sidenav .closebtn:hover {
    color: rgb(218, 11, 11);
    transition: 0.3s ease-in-out;
}
/* navbar and dropdown */




/* blog page start */
    .main-blog{
        @apply xl:mr-5 lg:mr-5 bg-white shadow hover:shadow-lg transition duration-300 ease-in-out cursor-pointer;
    }

    .blog_img{
        @apply xl:w-full lg:w-full md:w-full w-full transform hover:scale-110 transition duration-700 ease-in-out;
    }
    .blog_heading{
        @apply text-gray-800 text-xl font-semibold hover:text-red-600 transition duration-300 ease-in-out py-3;
    }
    .blog_info{
        @apply hover:text-red-600 transition duration-300 ease-in-out text-sm text-gray-700 ml-1;
    }
    .blog_desc{
        @apply text-gray-500 text-sm leading-loose font-semibold;
    }

/* blog page start */

.pagination-item{
    @apply h-10 w-10 border border-gray-200 flex justify-center items-center text-gray-400 hover:bg-red-600 transition duration-300 ease-in-out hover:text-white hover:border-red-600 mx-1 cursor-pointer text-sm;
}